*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #ffffff;
    padding-top: 16px;
}

.btn{
     background-color: #30bb68;
     border: none;
     padding: 12.5px 16px;
     font-size: 16px;
     font-weight: semi-bold;
     color: white;
     display: inline-flex;
     gap: 8px;

}
nav{
    width: 85%;
    max-width: 1360px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.menu-content{
   display: flex;
   list-style-type: none;
   gap: 32px;
   align-items: center;
}
.menu-content a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}
.menu-button{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}
#hero{
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/hero-bg.png);
}
.hero-content{
    max-width: 1360px;
    /* height: 339px; */
    /* border: 1px solid red; */
    text-align: center;
    
}
.hero-section{
    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: medium;
    background: #ffffff;
    color: #30bb68;
    margin: 8px 12px;
    border-radius: 1000px;
}
.hero-tittle{
    font-size:56px ;
    font-weight: 700px;
    margin-bottom: 16px;
    line-height: 1.15;
    

}.color-green {
    color: #30bb68;
}
.hero-text{
    font-size: 18px;
    margin: 0 auto 36px;
    max-width: 700px;
    line-height: 1.6;
    color: #ffffff;
}
.hero-btn{
   background-color: transparent;
     border: none;
     padding: 12.5px 16px;
     font-size: 16px;
     font-weight: semi-bold;
     color: white;
     border: 1px solid;
     border-radius: 8px;
 
}
#notes{
    padding-top: 120px;
    
}
.notes-container{
    width: 1270px;
    margin: 0 auto;
    text-align: center;
    
}
.Notes-grid{
    display: flex;
    gap: 24px;
}
.Notes-card{
    padding: 24px 69px;
    /* border: 1px solid; */
    max-width: 300px;
    background-color: #ffffff;
    box-shadow: 0 0 8px 0 #00000017;
}
.Notes-card img{
    max-width: 32px;
    background-color: #f95555;
    margin-bottom: 15px;transform: translateY(-6);
}
.Notes-card h3{
    font-size: 16px;
    color: #001931;
    margin-bottom: 10px;
}
.Notes-card p{
    font-size: 12px;
    line-height: 1.6;
    color: #6b7282;
}
#second-brain{
    padding: 100px 20px;
}
.container{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    gap:60px ;
}
.Brain-content .lang{
font-size: 14px;
color: #30bb68;
font-weight: 600;
}
.Brain-content h2{
    font-size: 48px;
    margin: 16px 0;
    color: #001931;
}
.Brain-content p{
 color: #627382;
 font-size: 14px;
 margin: 16px 0;
 max-width: 480px;
 margin: ;
}
.Brain-content ul li {
    margin: 16px;
    position: relative;
}
#Early-access{
    padding: 100px 100px;
    text-align: center;
}
.Early-access-container{
 max-width: 1360px;
 margin: auto;
  background-color: #f7f6f2;
}
.Early-access-container h2{
    font-size: 40;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}
.Early-access-container p{
    font-size: 16px;
    color: #6b7282;
    margin-bottom: 32px;
    line-height: 1.6;
}
.access-note{
   font-size: 16px;
    color: #6b7282;
    margin-top: 20px; 
}
